{% load static %}<!DOCTYPE html>
<html lang="{% block html_lang %}en{% endblock %}">
<head>
    {% block title_outer %}
        <title>{% block title %}{{ site.name }}{% endblock %}</title>
    {% endblock %}

    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}

    {% block stylesheets %}
        {% include 'adminlte/lib/_styles.html' %}
    {% endblock %}

    {% block extra_head %}{% endblock %}
</head>
<body class="sidebar-expand-lg bg-body-tertiary {% block body_class %}{% endblock %}">
    <div class="app-wrapper">
        {% block nav_header %}
            {% include 'adminlte/lib/_main_header.html' %}
        {% endblock %}

        {% block nav_sidebar %}
            {% include 'adminlte/lib/_main_sidebar.html' %}
        {% endblock %}

        {% block app_main_outer %}
        <main class="app-main">
            {% block app_content_header_outer %}
            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        {% block no_heading %}
                        <div class="col-sm-6">
                            <h3 class="mb-0">
                                {% block page_name %}{% endblock %}
                            </h3>
                            <div class="header-actions">
                                {% block page_actions %}{% endblock %}
                            </div>
                            {% block no_description %}
                            <small>{% block page_description %}{% endblock %}</small>
                            {% endblock %}
                        </div>
                        {% block no_breadcrumbs %}
                        <div class="col-sm-6">
                            {% block breadcrumbs %}
                                {# Breadcrumb implementation left to developers #}
                                {% comment %}
                                <ol class="breadcrumb float-sm-end">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                                                        Unfixed Layout
                                                                    </li>
                                </ol>
                                {% endcomment %}
                            {% endblock breadcrumbs %}
                        </div>
                        {% endblock no_breadcrumbs %}
                        {% endblock no_heading %}
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Container-->
            </div>
            {% endblock app_content_header_outer %}

            {% block app_content_outer %}
            <div class="app-content">
                {% block messages %}
                    {% include 'adminlte/lib/_messages.html' %}
                {% endblock %}

                <div class="container-fluid">
                    {% block content_block_wrap %}
                        {% block content %}{% endblock %}
                    {% endblock %}
                </div>
            </div>
            {% endblock app_content_outer %}
        </main>
        {% endblock app_main_outer %}

        {% block nav_footer %}
            {% include 'adminlte/lib/_main_footer.html' %}
        {% endblock %}

    </div>

    {% block javascript %}
    {% include 'adminlte/lib/_scripts.html' %}
    {% endblock %}

</body>